[Unit]
Description=kulu-backend

[Service]
ExecStart=java -cp ~/kulu-backend-0.1.0-SNAPSHOT-standalone.jar clojure.main -m kulu-backend.web
Restart=always
RestartSec=5

[Install]
WantedBy=default.target